{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1 class="is-size-4">{{ title }}</h1>
        {% from "shared/_macros.html" import render_field %}
        <form action="" method=post>
            {{ form.hidden_tag() }}
          <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.category) }}
            {{ render_field(form.weight) }}
          </dl>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
