{% extends "base.html" %}

{% block content %}
    <section>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Our goods
                    </h1>
                    <h2 class="subtitle">
                        ...Baked with love
                    </h2>
                </div>
            </div>
        </section>
        
        {% if current_user.is_authenticated %}
        <section class="container store-admin">
            <a href="{{ url_for('store.add_product') }}" class="button is-success">Add Product</a> 
        </section>
        {% endif %}
        
        <section class="container products">
            {% if products %}
                {% for product in products %}
                    {% include "shared/_product.html" ignore missing %}
                {% endfor %}
            {% endif %}
        </section>

    </section>
{% endblock %}
