{% extends "base.html" %}

{% block content %}
    <section>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Our goods
                    </h1>
                    <h2 class="subtitle">
                        ...Baked with love
                    </h2>
                </div>
            </div>
        </section>

        <section class="container">
            {% if products %}
                {% for product in products %}
                    {% include "shared/_product.html" ignore missing %}
                {% endfor %}
            {% endif %}
        </section>
    </section>
{% endblock %}
