/*-----------------
 * Hero parallax
 * ---------------*/
/*-----------------
 * Hero
 * ---------------*/
.flex-top {
	
}
.flex-center {
    justify-content: center;
    align-items: center;
}

.hero {
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.2)),
	/* Make the hero background image opaque */
/*    linear-gradient(rgba(300,300,300,.5), rgba(300,300,300,.5)),*/
    url(../images/paris-view.png) center / cover;
}

@media (max-width: 1024px) { .hero { url(../images/paris-view.png) center / cover; } }
@media (max-width: 768px) { .hero { url(../images/paris-view.png) center / cover; }}
