.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.card {
    min-width: 200px;
    width: calc(33.33333% - 40px);
    margin: 10px;
}

@media (max-width: 1024px) {
    .card {
        margin: 0px ;
    }
}

/* tablet */
@media (max-width: 768px) {
    .card {
        margin: 0px ;
        min-width: 50% ;
    }
}

/* phone */
@media (max-width: 360px) {
    .card {
        margin: 0px ;
        min-width: 100% ;
    }
}
