<html>
    <head>
      {% if title %}
      <title>{{ title }} - Olivier's Breads</title>
      {% else %}
      <title>Welcome to Olivier's Breads</title>
      {% endif %}
    </head>
    <body>
        <div>Olivier's Breads: 
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
             <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
             <a href="{{ url_for('main.explore') }}">Explore</a>
             <a href="{{ url_for('store.store') }}">Store</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        
        {# Previous and next page navigation #}
        {% include 'shared/_prev_next_page.html' %}
    </body>
</html>

