<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Olivier's Breads</title>
        {% else %}
            <title>Olivier's Breads</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Leo Audibert" content="Oliviers Breads">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/debug.css">
    </head>
    <body> 
        <section>
            {% include 'shared/_navbar.html' %}
            {% include 'shared/_flashed_messages.html' %}


            <div id="app">
                {% block content %}{% endblock %}
            </div>

            {# Previous and next page navigation #}
            {% include 'shared/_prev_next_page.html' %}
            <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
            {# Vuejs app #}
            <script src="../frontend/vuejs/src/main.js"></script>
        </section>
    </body>
</html>

