<html>
    <head>
    {% if title %}
        <title>{{ title }} - Olivier's Breads</title>
    {% else %}
        <title>Welcome to Olivier's Breads</title>
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    </head>
    <body>
         
        <header class="navbar bg-gray">
            <section class="navbar-section">
                <a href="{{ url_for('main.index') }}" class="btn btn-link">Home</a>
                <a href="{{ url_for('store.store') }}" class="btn btn-link">Store</a>
            </section>

            {# centered logo here#}

            <section class="navbar-section">
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-link">Login</a>
            {% else %}
                <a href="{{ url_for('main.user', username=current_user.username) }}" class="btn btn-link">Profile</a>
                <a href="{{ url_for('main.explore') }}" class="btn btn-link">Explore</a>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-link">Logout</a>
            {% endif %}
            </section>
        </header>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
			<div class="toast toast-success>
            <li>{{ message }}</li>
			</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="container">
            {# 'column' class should be added to  container inside the 'container' class #}
            <div class="column col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        {# Previous and next page navigation #}
        {% include 'shared/_prev_next_page.html' %}
    </body>
</html>

