<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Olivier's Breads</title>
        {% else %}
            <title>Olivier's Breads</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Leo Audibert" content="Oliviers Breads">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/debug.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body> 
        <section>

            <section class="hero hero-index is-fullheight is-flex">
				<div class="hero-head">
					{% include "shared/_navbar.html" %}
				</div>
				<figure class="image center hero-body">
					<img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" style="max-width: 200px;">
				</figure>
            </section>

            {% include 'shared/_flashed_messages.html' %}


            <div id="app">
            {% include 'home/_home_content.html' %}
            </div>

            {# Previous and next page navigation #}
            {% include 'shared/_prev_next_page.html' %}
            <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
            {# Vuejs app #}
        </section>
    </body>
</html>

