{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="is-size-4">Sign In</h1>
        {% from "shared/_macros.html" import render_field %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
            <dl>
                {{ render_field(form.username, class="input", placeholder="Your username") }}
                {{ render_field(form.password, class="input", placeholder="Your password") }}
                {{ render_field(form.submit, class="button is-link") }}
            </dl>
        </form>
        {# Register as a user #}
        <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
        {# Forgot your login? Get a new one by email #}
        <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
        </p>
    </div>
{% endblock %}
