{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="is-size-4">Register</h1>
        {% from "shared/_macros.html" import render_field %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
            <dl>
                {{ render_field(form.username, class="input", placeholder="Enter a username") }}
                {{ render_field(form.email, class="input", placeholder="your-email@iamcool.com") }}
                {{ render_field(form.password, class="input", placeholder="Enter a password") }}
                {{ render_field(form.password2, class="input", placeholder="Enter a password") }}
                {{ render_field(form.submit, class="button is-link") }}
            </dl>
        </form>
    </div>
{% endblock %}
