<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Olivier's Breads</title>
        {% else %}
            <title>Olivier's Breads</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Leo Audibert" content="Oliviers Breads">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/debug.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body> 
        <section>

            <div id="app">
                {% block page %}{% endblock %}
            </div>

            <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
            {# Vuejs app #}
        </section>
    </body>
</html>

