<div class="hero-head">
	<div class="columns is-mobile is-marginless heading has-text-weight-bold">
		<div class="column left">
            <a href="{{ url_for('main.index') }}">
                <figure class="navbar-item">
                    <img src="{{ url_for('static', filename='images/logo-with-no-background.png') }}" alt="Olivier's Breads Logo">
				</figure>
            </a>
		</div>
		<div class="column center desktop">
            <p class="navbar-item has-text-black"><a href="{{ url_for('main.index') }}">Home</a></p>
            <p class="navbar-item has-text-black"><a href="{{ url_for('store.store') }}">Store</a></p>
            <p class="navbar-item has-text-black"><a href="{{ url_for('main.about') }}">About Us</a></p>
		</div>
		<div class="column right">
            {% if current_user.is_anonymous %}
                <p class="navbar-item desktop"><a href="{{ url_for('auth.login') }}">Login</a></p>
            {% else %}
                <p class="navbar-item desktop has-text-black"><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></p>
                <p class="navbar-item desktop has-text-black"><a href="{{ url_for('main.explore') }}">Explore</a></p>
                <p class="navbar-item desktop has-text-black"><a href="{{ url_for('auth.logout') }}">Logout</a></p>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true">
				  	<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
			  	</a>
            {% endif %}
		</div>
	</div>
</div>
